<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}->%M:%L - %msg%n"/>
        </Console>
        <File name="FileLog" fileName="/var/log/info.log" bufferedIO="false"
              advertiseURI="file:///var/log/info.log" advertise="true">
            <PatternLayout
                    pattern="%d{yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36}->%M:%L - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.aiziyuer.app" additivity="true">
            <appender-ref ref="FileLog" level="debug"/>
        </Logger>

        <!-- 默认的appender-->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLog"/>
        </Root>
    </Loggers>
</Configuration>